@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me!</button>

<p>@LotsOfClicks</p>

@code {
    private int currentCount = 0;
    private string LotsOfClicks = "";

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        if (currentCount < 100)
        {
            currentCount += IncrementAmount;
        }
        ButtonResponse();
    }

    private void ButtonResponse()
    {
        if (currentCount < 3)
        {
            LotsOfClicks = "";
        }
        else if (currentCount < 10)
        {
            LotsOfClicks = "Curious?";
        }
        else if (currentCount < 30)
        {
            LotsOfClicks = "Hmm...";
        }
        else if (currentCount < 50)
        {
            LotsOfClicks = "You're getting there...";
        }
        else if (currentCount < 80)
        {
            LotsOfClicks = "You're pretty dedicated!";
        } else if (currentCount < 100)
        {
            LotsOfClicks = "Wow! Impressive! just a little more...";
        } else
        {
            LotsOfClicks = "That's as high as I go! Congratulations!";
            }
    }
}
