@page "/"

<h1>Blazor Test Page</h1>

<p>Use the links on the right to see demonsrations of: </p>
<ul>
    <li>The retrieval of data from a feed.</li>
    <li>A counter that keeps track of button clicks.</li>
    <li>An exponential calculator.</li>
    <li>An interative To-Do List app.</li>
</ul>

<p>The following counter counts in increments of ten.</p>
<Counter IncrementAmount="10"/>

<SurveyPrompt Title="How is Blazor working for you?" />